{% macro el(isHome, layout, imageSrc, marginTop, title, desc, link, btnColor, noShadow) %}
  {% if noShadow %}
    <div class="floating-content scroll-animation no-shadow {{ layout }}">
    {% else %}
      <div class="floating-content scroll-animation {{ layout }}">
      {% endif %}
      <div class="image-container">
        {% if isHome %}
          <img src="{{ imageSrc }}"/>
        {% else %}
          <img src="../{{ imageSrc }}"/>
        {% endif %}
      </div>
      <div class="layout inner-delay level-1">
        <div class="text-container grid-max" style="margin-top: {{ marginTop }}">
          <div class="inner">
            <h2>{{ title }}</h2>
            <h4>{{ desc }}</h4>
            {% if link %}
              <a href="{{ link }}" class="button button-large {{ btnColor }}">Learn more</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endmacro %}