{% macro el(isHome) %}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta
    name="description"
    content="One central space for your photos. Organization. Consumation. Sharing. Backing up. All in one."/>
  <meta property="og:title" content="Meet Bilder Inc."/>
  <meta
    property="og:description"
    content="One central space for your photos. Organization. Consumation. Sharing. Backing up. All in one."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://bilderinc.lippe-mann.de"/>
  <meta name="msapplication-TileColor" content="#000000"/>
  <meta name="theme-color" content="#000000"/>
  {% if isHome%}
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <meta property="og:image" content="assets/img/fetcher.jpg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png"/>
  {% else %}
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <meta property="og:image" content="..assets/img/fetcher.jpg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png"/>
  {% endif %}
  <link rel="stylesheet" href="https://use.typekit.net/dcz6qir.css"/>
{% endmacro %}