{% macro el(isHome, currentPage) %}
  <nav class="navbar layout">
    <div class="inner grid-max">
      <div class="left">
        <a class="logo" href="/">
          {%if isHome%}
            <img src="assets/img/logo.png"/> {%else%} <img src="../assets/img/logo.png"/> {%endif%}
          </a>
          <a {%if currentPage === "about"%} class="link about-link active" {% else %} class="link about-link" {%endif%} href="/about">About us</a>
        </div>
        <div class="right">
          <a {%if currentPage === "features"%} class="link features-link active" {% else %} class="link features-link" {%endif%} href="/features">Features</a>
          <a {%if currentPage === "technology"%} class="link technology-link active" {% else %} class="link technology-link" {%endif%} href="/technology">Technology</a>
          <a class="button button-small link buy-now-link" href="/buy-now">Buy Now</a>
          {%if isHome%}
            <img class="menu-toggle" src="/assets/img/menu.svg"/> {%else%} <img class="menu-toggle" src="../assets/img/menu.svg"/>
            {%endif%}
          </div>
        </div>
        <div class="color-border">
          <div class="border-part"></div>
          <div class="border-part"></div>
          <div class="border-part"></div>
          <div class="border-part"></div>
          <div class="border-part"></div>
        </div>
      </nav>
      <div class="menu-mobile hidden">
        <div class="inner">
          <a {%if currentPage === "about"%} class="link about-link active" {% else %} class="link about-link" {%endif%} href="/about">About us</a>
          <a {%if currentPage === "features"%} class="link features-link active" {% else %} class="link features-link" {%endif%} href="/features">Features</a>
          <a {%if currentPage === "technology"%} class="link technology-link active" {% else %} class="link technology-link" {%endif%} href="/technology">Technology</a>
          <a class="button button-small link buy-now-link" href="/buy-now">Buy Now</a>
          {%if isHome%}
            <img class="close" src="/assets/img/close.svg"/> {%else%} <img class="close" src="../assets/img/close.svg"/>
            {%endif%}
          </div>
        </div>
        {% endmacro%}