{% macro el(isHome) %}
  <section class="offer">
    {%if isHome%}
      <img src="/assets/img/offer.png"/> {%else%} <img src="../assets/img/offer.png"/> {% endif%}
      <div class="layout">
        <div class="inner grid-max">
          <div class="wrapper">
            <h2>Tired of cluttered photo libraries?</h2>
            <h4>Buy your BilderBox now and get an exclusive Early-Bird offer.</h4>
            <a class="button button-large" href="/buy-now">Claim Offer</a>
          </div>
        </div>
      </div>
    </section>
    {%endmacro%}