{% macro problemCards(title) %}
  <div class="problem-cards">
    <div class="layout">
      <div class="inner grid-max">
        <h2>{{ title }}</h2>
        <div class="card-container">
          <div class="card">
            <img src="assets/img/problem-cards/clutter.svg"/>
            <div class="title">Eliminate clutter</div>
            <div class="desc">Many photo libraries are distributed among different types of media: on phones, computers, harddrives
              or event prints. Specific photos aren’t found quickly this way. The centralised nature of BilderBox helps with this.</div>
          </div>
          <div class="card">
            <img src="assets/img/problem-cards/spiderweb.svg"/>
            <div class="title">Bring photos back to life</div>
            <div class="desc">More and more photos are taken every day. Yet we tend to not look at them very often. BilderBook and
              BilderBeam promote the consumation of your memories: enjoy personalised photo curations!</div>
          </div>
          <div class="card">
            <img src="assets/img/problem-cards/safe.svg"/>
            <div class="title">Secure<br>& Private</div>
              <div class="desc">Photos are very private memories. We at Bilder Inc. belive that you should be in control of your
                privacy. The Bilder system never loads any data to the cloud. All photos stay local in your BilderBox. Same thing for
                our AI-Software.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endmacro %}