{% import "./template-parts/_footer.njk" as footer %}
{% import "./template-parts/_floating-content.njk" as floatingContent %}
{% import "./template-parts/_navbar.njk" as navBar %}
{% import "./template-parts/_head.njk" as head %}
<html lang="en">
  <head>
    {{ head.el(false) }} <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <title>Buy Now - Bilder Inc</title>
  </head>
  <body class="buy-now">
    {{ navBar.el(false) }}
    <section class="buy-section">
      <div class="layout">
        <div class="inner grid-max">
          <div class="left">
            <div
              class="swiper-container">
              <!-- Additional required wrapper -->
              <div
                class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img src="../assets/img/buy-now/perspective.jpg"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/img/buy-now/frontview.png"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/img/buy-now/sideview.png"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/img/buy-now/backview.png"/>
                </div>
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
            <div class="controls"></div>
          </div>
          <div class="right">
            <div class="headlines buy-unit">
              <h1>Buy your BilderBox</h1>
              <h4>BilderBox is the central home for all of your photos. Its easy to set up and a joy to use!</h4>
            </div>
            <div class="option buy-unit">
              <h4>Choose your option</h4>
              <p>Your BilderBox includes a BilderBook, a BilderBeam and a BilderScan</p>
              <div class="option-wrapper">
                <div class="option-item active">
                  <div class="left">
                    <div class="option">BilderBox 8TB</div>
                    <div class="desc">Enough storage for<br>800 000 photos*</div>
                  </div>
                  <div class="right">
                    399€
                  </div>
                </div>
                <div class="option-item">
                  <div class="left">
                    <div class="option">BilderBox 16TB</div>
                    <div class="desc">Enough storage for<br>1 600 000 photos*</div>
                  </div>
                  <div class="right">
                    549€
                  </div>
                </div>
              </div>
              <div class="asterisk">* assuming an average file size of 10MB / photo</div>
            </div>
            <div class="color buy-unit">
              <h4>Choose your color</h4>
              <p>You can decide between one of our four handpicked hardware finishes</p>
              <div class="option-wrapper">
                <div class="option-item active">
                  <div class="image-container">
                    <img src="../assets/img/buy-now/black.png"/>
                  </div>
                  <div class="name">
                    Onyx Black
                  </div>
                </div>
                <div class="option-item">
                  <div class="image-container">
                    <img src="../assets/img/buy-now/silver.png"/>
                  </div>
                  <div class="name">
                    Royal Silver
                  </div>
                </div>
              </div>
              <div class="option-wrapper">
                <div class="option-item">
                  <div class="image-container">
                    <img src="../assets/img/buy-now/gold.png"/>
                  </div>
                  <div class="name">
                    Red Copper
                  </div>
                </div>
                <div class="option-item">
                  <div class="image-container">
                    <img src="../assets/img/buy-now/teal.png"/>
                  </div>
                  <div class="name">
                    Magic Mint
                  </div>
                </div>
              </div>
            </div>
            <div class="last buy-unit">
              <div class="button button-large"><img src="../assets/img/buy-now/shopping.svg"/>
                <span>Add to Cart</span>
              </div>
              <div class="notice">
                <div class="top">Currently unavailable!</div>
                <div class="bottom">Bilder Inc is a concept that was developed in the course of a Bachelors Thesis. It is thus not a
                  real product.
                  <a href="/about">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="details">
      <div class="layout">
        <div class="inner grid-max">
          <h1>Details</h1>
          <div class="image-container">
            <div class="image-item">
              <img src="../assets/img/buy-now/frontview.png"/>
              <div class="size-container">
                <div class="line"></div>
                <div class="number">42cm</div>
              </div>
            </div>
            <div class="image-item">
              <img src="../assets/img/buy-now/sideview.png"/>
              <div class="size-container">
                <div class="line"></div>
                <div class="number">12cm</div>
              </div>
            </div>
            <div class="image-item">
              <img src="../assets/img/buy-now/backview.png"/>
              <div class="size-container">
                <div class="line"></div>
                <div class="number">25cm</div>
              </div>
            </div>
          </div>
          <div class="details-container">
            <div class="details-unit">
              <h5>Hardware</h5>
              <ul>
                <li>Modern classic design</li>
                <li>AMD Opteron A1170 processor</li>
                <li>WiFi 802.11 a, b, g, n conncectivity</li>
                <li>Efficient 30W power consumption</li>
                <li>Multiple devices to easily scan and consume photos</li>
              </ul>
            </div>
            <div class="details-unit">
              <h5>Software</h5>
              <ul>
                <li>Powerful machine-learning photo AI</li>
                <li>Automatic photo sorting</li>
                <li>Automated photo collections</li>
                <li>Conveniently share your photos</li>
                <li>Apps for all major platforms</li>
              </ul>
            </div>
            <div class="details-unit">
              <h5>System</h5>
              <ul>
                <li>Always-on private cloud</li>
                <li>Ai and sofware run locally</li>
                <li>Your photos, your privacy</li>
                <li>Automated backups</li>
                <li>Secure mirrored storage</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="feature-cards">
      <div class="layout">
        <div class="inner grid-max">
          <div class="row">
            <div class="card top-left">
              <img src="../assets/img/home/easy_import2.jpg"/>
              <div class="text">Easy photo import</div>
            </div>
            <div class="card bottom-right">
              <img src="../assets/img/features/bilder-ai.jpg"/>
              <div class="text">Ai powered organization</div>
            </div>
            <div class="card bottom-left">
              <img src="../assets/img/buy-now/scan_old_photos.jpg"/>
              <div class="text">Scan old photos</div>
            </div>
          </div>
          <div class="row">
            <div class="card top-right">
              <img src="../assets/img/buy-now/access_anywhere.jpg"/>
              <div class="text">Access on any device</div>
            </div>
            <div class="card bottom-left">
              <img src="../assets/img/home/book.jpg"/>
              <div class="text">The best way to look through your photos</div>
            </div>
            <div class="card bottom-right">
              <img src="../assets/img/home/backups.jpg"/>
              <div class="text">Local, private &amp;<br>secure</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="whats-in-the-box">
      <div class="layout">
        <div class="inner grid-max">
          <h1>Whats in the box?</h1>
          <div class="row">
            <div class="item">
              <div class="number">1.</div>
              <div class="text">
                <em>BilderBox</em>
                - center of the Bilder system, containing storage and hardware</div>
            </div>
            <div class="item">
              <div class="number">2.</div>
              <div class="text">
                <em>BilderBook</em>
                - view curated photo collections in this beautiful digital album</div>
            </div>
            <div class="item">
              <div class="number">3.</div>
              <div class="text">
                <em>BilderScan</em>
                - the most convenient way to scan your prints and albums</div>
            </div>
          </div>
          <div class="row">
            <div class="item">
              <div class="number">4.</div>
              <div class="text">
                <em>BilderBeam</em>
                - enjoy your photos the old fashioned way in a slideshow</div>
            </div>
            <div class="item">
              <div class="number">5.</div>
              <div class="text">
                <em>Film strip rack</em>
                - scan 35mm negatives and slides with BilderBox</div>
            </div>
            <div class="item">
              <div class="number">6.</div>
              <div class="text">
                Power adapter, manuals, cleaning cloth</div>
            </div>
          </div>
        </div>
      </div>
      <img src="../assets/img/buy-now/whatsinthebox.jpg"/>
    </section>
    {{ footer.el(false) }}
    {% include "./template-parts/_animation-scripts.njk" %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/buy-now.js"></script>
  </body>
</html>