{% import "./template-parts/_footer.njk" as footer %}
{% import "./template-parts/_floating-content.njk" as floatingContent %}
{% import "./template-parts/_navbar.njk" as navBar %}
{% import "./template-parts/_offer-section.njk" as offerSection %}
{% import "./template-parts/_problem-cards.njk" as problemCards %}
{% import "./template-parts/_head.njk" as head %}
<html lang="en">
  <head>
    {{ head.el(true) }}
    <title>Bilder Inc</title>
  </head>
  <body class="home">
    {{ navBar.el(true) }}
    <section class="hero">
      <div class="wrapper">
        <div class="logo">
          <h2>Meet<br>Bilder Inc.</h2>
        </div>
        <div class="text-container">
          <h4>Introducing BilderBox</h4>
          <h1>The
            <em>new home</em>
            for your photos</h1>
        </div>
      </div>
      <canvas id="start-sequence"></canvas>
      <div class="gradients">
        <div class="top"></div>
        <div class="bottom"></div>
      </div>
      <div class="scroll-indicator">
        <img src="assets/img/scroll_indicator.svg"/>
        <div class="text">Scroll down</div>
      </div>
    </section>
    <section class="one-central-space">
      <div class="inner layout scroll-animation">
        <div class="content grid-max">
          <h1>
            <em>One central space</em>
            for personal memories</h1>
          <h3>Organization. Consumation. Sharing. Backing up. All in one.</h3>
        </div>
      </div>
      <img class="scroll-animation" src="/assets/img/home/easy_import.jpg"/>
      <div class="button button-large outline">Why is this so cool?</div>
      <div class="hide-wrapper" style="display: none;">
        {{ problemCards.el(true,'Bilder Inc. tackles 3 big problems of personal photography today') }}
      </div>
    </section>
    <section class="ecosystem">
      <div class="intro">
        <img src="/assets/img/home/ecosystem.jpg"/>
        <div class="layout scroll-animation">
          <div class="grid-max">
            <h1>Meet the<br><em>Bilder Ecosystem</em>
            </h1>
            <h3>Developed to give your memories the space they deserve. Discover how it works below.</h3>
          </div>
        </div>
      </div>
      {{ floatingContent.el(true,'left','assets/img/home/easy_import2.jpg', '360px', 'Easy importing','Add your photos in no time, doesn’t matter how you store them today...', 'technology#bilderbox', 'orange' ) }}
      {{ floatingContent.el(true,'right','assets/img/home/automatic_organization.jpg', '90px', 'Automatic Organization','BilderAi analyses your photos and organizes them in a timeline and collections by itself.', 'features#organization', '' ) }}
      {{ floatingContent.el(true,'left','assets/img/home/book.jpg', '220px', 'Familiar viewing experience','BilderBook album contains 10 beautiful OLED screens. Flip through memories like in the good old times.', 'technology#bilderbook', 'green' ) }}
      {{ floatingContent.el(true,'right','assets/img/home/projector.jpg', '125px', 'Effortless slideshows','BilderBeam is quick and easy to set up. It’s 3h battery life gets it through those popcorn nights.', 'technology#bilderbeam', 'blue' ) }}
      {{ floatingContent.el(true,'left','assets/img/home/social.jpg', '110px', 'Social libraries','Share your favourite photos through BilderApps. Shared images will appear directly in others libraries.', 'features#sharing', '' ) }}
      {{ floatingContent.el(true,'right','assets/img/home/backups.jpg', '90px', 'State of the art Backups','BilderBox is equipped with two drives with a mirrored filesystem. They are also user exchangable. ', 'technology#bilderbox', 'orange' ) }}
      {{ floatingContent.el(true,'left','assets/img/home/wifi.jpg', '110px', 'Storage under your control','Your photos stay local in your BilderBox. Simply connect it to home WiFi to access your library anywhere.', 'technology#bilderbox', 'green' ) }}
      <div class="gradient-end"></div>
    </section>
    <section class="testimonials">
      <div class="layout scroll-animation">
        <div class="inner grid-max">
          <h1>What our customers say:</h1>
          <div class="testimonial-container inner-delay level-3">
            <div class="testimonial-content">
              <div class="testimonial">
                <img class="quotation-mark" src="/assets/img/home/quotation.svg">
                <div class="quote">BilderBox is the visual interface to my life and life-history. Easy to use, integrates the flood of
                  images, endless use cases. Aesthetic in design. Very exciting!</div>
                <div class="author">
                  <div class="line"></div>
                  <img src="/assets/img/home/testimonial1.jpg">
                  <div class="text">
                    <div class="name">Matthias Lippmann</div>
                    <div class="profession">Graduate mechanical engineer</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls"></div>
          </div>
        </div>
      </div>
    </section>
    {{ offerSection.el(true) }}
    {{ footer.el(true) }}
    {% include "./template-parts/_animation-scripts.njk" %}
    <script src="js/home.js"></script>
    <script src="js/main.js"></script>
    <script src="js/nav.js"></script>
  </body>
</html>