{% import "./template-parts/_problem-cards.njk" as problemCards %}
{% import "./template-parts/_floating-content.njk" as floatingContent %}
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Bilder Inc"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Bilder Inc</title>
  </head>
  <body>
    {% include "./template-parts/_navbar.njk" %}
    <div class="hero">
      <h1>Bilder Inc</h1>
      {# <video preload="auto" muted src="/assets/vid/output.mp4"></video> #}
      <canvas id="start-sequence"></canvas>
    </div>
    <section class="one-central-space">
      <div class="inner layout">
        <div class="content grid-max">
          <h1>
            <em>One central space</em>
            for personal memories</h1>
          <h3>Organization. Consumation. Sharing. Backing up. All in one.</h3>
        </div>
      </div>
      <img src="/assets/img/home/easy_import.jpg"/>
      <div class="button button-large outline">Why is this so cool?</div>
      <div class="hide-wrapper" style="display: none;">
        {{ problemCards.problemCards('Bilder Inc. tackles 3 big problems of personal photography today') }}
      </div>
    </section>
    <section class="ecosystem">
      <div class="intro">
        <img src="/assets/img/home/ecosystem.jpg"/>
        <div class="layout">
          <div class="grid-max">
            <h1>Meet the<br><em>Bilder Ecosystem</em>
            </h1>
            <h3>Developed to give your memories the space they deserve. Discover how it works below.</h3>
          </div>
        </div>
      </div>
      {{ floatingContent.el('left','assets/img/home/easy_import2.jpg', '360px', 'Easy importing','Add your photos in no time, doesn’t matter how you store them today...', '#', 'orange' ) }}
      {{ floatingContent.el('right','assets/img/home/automatic_organization.jpg', '90px', 'Automatic
Organization','BilderAi analyses your photos and organizes them in a timeline and collections by itself.', '#', '' ) }}
    </section>
    {% include "./template-parts/_footer.njk" %}
    {% include "./template-parts/_animation-scripts.njk" %}
    <script src="js/home.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>