@import "_variables.scss";
@import "_mixins.scss";

.floating-content {
  width: 100%;
  max-width: 1800px;
  margin: 175px auto;
  position: relative;
  display: flex;
  flex-direction: column;

  &.no-shadow {
    .image-container {
      img {
        box-shadow: none;
      }
    }
  }

  @include tablet {
    margin: 200px auto;
  }

  @include desktop {
    height: 1000px;
    flex-direction: row;
    margin: 200px auto;
  }

  .layout {
    width: 100%;
    align-items: flex-start;
  }

  .text-container {
    position: relative;
    width: 100%;
    display: flex;

    @include phone-only {
      margin-top: -50px !important;
    }

    @include tablet-only {
      margin-top: 50px !important;
    }

    .inner {
      display: flex;
      flex-direction: column;
      max-width: 510px;

      @include desktop {
        text-shadow: 0 0 30px rgba(0, 0, 0, 1);

        a {
          text-shadow: none;
        }
      }

      @include phone-only {
        max-width: initial;
      }

      h4 {
        margin-bottom: 30px;

        @include tablet {
          margin-bottom: 50px;
        }
      }

      .button {
        width: fit-content;
      }
    }
  }

  .image-container {
    width: 100%;

    @include phone-only {
      min-height: 100% !important;
      height: 55vh !important;
      position: relative;
      left: 0 !important;
      right: 0 !important;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 150px;
        left: 0;
        bottom: 0;
        background: linear-gradient(0deg, #181413, #18141300);
      }
    }

    @include tablet {
      width: calc(100% - 35px);
    }

    @include desktop {
      position: absolute;
      width: 90%;
      height: 100%;
    }

    img {
      width: 100%;
      max-height: 1000px;
      max-width: 1340px;
      object-fit: cover;
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.4);

      @include phone-only {
        object-position: center !important;
        height: 100%;
        max-height: initial;
        max-width: initial;
      }

      @include tablet {
        height: 100%;
      }
    }
  }

  &.left {
    .text-container {
      text-align: right;
      justify-content: flex-end;

      .inner {
        align-items: flex-end;
      }
    }

    .image-container {
      img {
        object-position: right;

        @include tablet {
          border-radius: 0px 25px 25px 0px;
        }

        @include large-desktop {
          width: calc(100% - 150px);
          margin-right: 150px;
        }

        @media screen and (min-width: 1815px) {
          border-radius: 25px;
        }
      }
    }
  }

  &.right {
    .text-container {
      text-align: left;
      justify-content: flex-start;

      .inner {
        align-items: flex-start;
      }
    }

    .image-container {
      left: 10%;

      @include tablet-only {
        margin-left: 35px;
      }

      img {
        object-position: left;

        @include tablet {
          border-radius: 25px 0px 0px 25px;
        }

        @include large-desktop {
          width: calc(100% - 150px);
          margin-left: 150px;
        }

        @media screen and (min-width: 1815px) {
          border-radius: 25px;
        }
      }
    }
  }

  &.center {
    justify-content: center;
    margin-top: 350px;

    .text-container {
      text-align: center;
      justify-content: center;

      @include desktop {
        margin-top: -150px !important;
      }

      .inner {
        align-items: center;
        max-width: 600px;

        @include desktop {
          text-shadow: 0 0 30px rgba(0, 0, 0, 1);
        }
      }
    }

    .image-container {
      width: 100%;
      height: 100%;
      max-width: 1340px;

      @include tablet {
        width: calc(100% - 70px);
        margin-left: 35px;
        margin-right: 35px;
      }
      @include desktop {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-right: 50px;
      }

      img {
        object-position: center;
        width: 100%;
        max-height: initial;
        max-width: initial;

        @include tablet {
          border-radius: 25px;
        }
      }
    }
  }
}
