@import "_variables.scss";
@import "_mixins.scss";

.floating-content {
  width: 100%;
  max-width: 1800px;
  height: 1000px;
  margin: 200px auto;
  position: relative;
  display: flex;

  .layout {
    width: 100%;
    align-items: flex-start;
  }

  .text-container {
    position: relative;
    width: 100%;
    display: flex;

    .inner {
      display: flex;
      flex-direction: column;
      max-width: 510px;

      h4 {
        margin-bottom: 50px;
      }

      .button {
        width: fit-content;
      }
    }
  }

  .image-container {
    position: absolute;
    width: 90%;
    height: 100%;

    img {
      width: 100%;
      max-height: 1000px;
      max-width: 1340px;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 0.4));
    }
  }

  &.left {
    .text-container {
      text-align: right;
      justify-content: flex-end;

      .inner {
        align-items: flex-end;
      }
    }

    .image-container {
      img {
        object-position: right;
        border-radius: 0px 25px 25px 0px;

        @include large-desktop {
          width: calc(100% - 150px);
          margin-right: 150px;
        }

        @media screen and (min-width: 1815px) {
          border-radius: 25px;
        }
      }
    }
  }

  &.right {
    .text-container {
      text-align: left;
      justify-content: flex-start;

      .inner {
        align-items: flex-start;
      }
    }

    .image-container {
      left: 10%;

      img {
        border-radius: 25px 0px 0px 25px;
        object-position: left;

        @include large-desktop {
          width: calc(100% - 150px);
          margin-left: 150px;
        }

        @media screen and (min-width: 1815px) {
          border-radius: 25px;
        }
      }
    }
  }
}
