@import "_variables.scss";
@import "mixins";

.footer {
  padding: 0;
  background: #000;

  .inner {
    margin-top: 40px;
    margin-bottom: 60px;
    width: calc(100% - 40px);

    @include tablet {
      width: calc(100% - 70px);
    }

    @include desktop {
      flex-direction: row;
      width: calc(100% - 100px);
    }

    .top {
      display: flex;
      justify-content: space-between;

      @include tablet-only {
        flex-direction: column;
      }

      .left {
        display: flex;
        flex-direction: column;

        @include tablet {
          flex-direction: row;
        }

        .unit {
          display: flex;
          flex-direction: column;

          .logo {
            width: 155px;
          }

          &.link {
            margin-top: 5px;
          }

          &:nth-child(2) {
            margin: 40px 0 40px 40px;

            @include tablet {
              margin-left: 50px;
              margin-right: 50px;
              margin-top: 5px;
            }

            @include desktop {
              margin-left: 90px;
              margin-right: 190px;
              margin-top: 5px;
            }
          }

          &:nth-child(3) {
            margin-left: 40px;

            @include desktop {
              margin-left: 0;
            }
          }

          &.fade {
            a {
              color: $light-grey;
            }
          }

          a {
            font-size: 20px;
            color: $white;
            text-decoration: none;
            margin-bottom: 30px;
          }
        }
      }

      .right {
        margin-left: 40px;

        @include tablet {
          margin: 0;
        }
      }
    }

    .bottom {
      width: 100%;
      margin-top: 50px;

      padding: 20px 0;
      color: $medium-grey;
      border-top: 1px solid $medium-grey;
    }
  }

  .color-border {
    width: 100%;
    height: 2px;
    display: flex;

    .border-part {
      width: 100%;
    }

    .border-part:nth-child(1) {
      background: $red;
    }

    .border-part:nth-child(2) {
      background: $orange;
    }

    .border-part:nth-child(3) {
      background: $green;
    }
    .border-part:nth-child(4) {
      background: $lightblue;
    }

    .border-part:nth-child(5) {
      background: $blue;
    }
  }
}
