@import "_variables.scss";
@import "mixins";

section.offer {
  position: relative;
  padding: 0;
  margin: 100px 0;

  @include desktop {
    margin: 200px 0 350px;
  }

  > img {
    width: 75%;
    margin-bottom: -150px;

    @media screen and (min-width: 1000px) and (max-width: 1079px) {
      width: 600px !important;
      top: -10% !important;
      left: -200px !important;
    }

    @media screen and (min-width: 1080px) and (max-width: 1300px) {
      width: 600px !important;
      top: -10% !important;
      left: -150px !important;
    }

    @include desktop {
      position: absolute;
      top: -15%;
      left: 0;
      width: 50%;
      max-width: 700px;
    }
  }

  .layout {
    padding: 175px 0 52px;
    background: $white;

    @include tablet {
      padding: 200px 0 60px;
    }

    @include desktop {
      padding: 42px 0 52px;
    }

    .inner {
      display: flex;
      justify-content: center;
      @include desktop {
        justify-content: flex-end;
      }

      .wrapper {
        max-width: 720px;
      }

      h2 {
        color: $chocolate;
      }

      h4 {
        color: $medium-grey;
      }

      .button {
        margin: 44px auto 0;
        display: block;
        width: fit-content;
      }
    }
  }
}
