@import "_variables.scss";

.problem-cards {
  .inner {
    .card-container {
      display: flex;
      margin-top: 100px;
      justify-content: space-between;

      .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 30px 65px;
        color: $white;
        text-align: left;
        border-radius: 26px;

        img {
          width: 150px;
          height: 150px;
          object-fit: contain;
          margin-bottom: 40px;
        }

        .title {
          font-size: 42px;
          line-height: 120%;
          letter-spacing: -0.02em;
          margin-bottom: 20px;
        }

        .desc {
          font-size: 22px;
          line-height: 130%;
          letter-spacing: -0.02em;
        }

        &:nth-child(1) {
          background: $lightblue;
        }

        &:nth-child(2) {
          background: $green;
          margin: 0 40px;
        }

        &:nth-child(3) {
          background: $orange;
        }
      }
    }
  }
}
