@import "variables.scss";
@import "nav.scss";
@import "home.scss";
@import "problem-cards.scss";
@import "floating-content.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Stolzl Medium", "Helvetica", sans-serif;
  background: $chocolate;
}

.grid-max {
  max-width: 1250px;
  width: 100%;
  margin: 0 30px;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 200px 0;
}

/* ---- FONTS ----- */

h1,
h2,
h3,
h4,
h5,
p {
  color: $white;
  font-family: "Stolzl Medium", "Helvetica", sans-serif;
  letter-spacing: -0.016em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  margin-bottom: 40px;

  em {
    font-style: normal;
  }
}

h2 {
  font-size: 60px;
  margin-bottom: 28px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 25px;
  line-height: 120%;
  margin-bottom: 24px;
}

p {
  color: $light-grey;
  line-height: 120%;
  margin-bottom: 24px;
}

/* --- BUTTON ---*/

.button {
  display: inline-block;
  color: $white !important;
  opacity: 1 !important;
  border-radius: 14px;
  background: $lightblue;
  text-decoration: none;
  transition: transform 0.3s ease-in-out !important;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.28);
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
  }

  &.button-small {
    font-size: 20px;
    padding: 8px 24px;
  }

  &.button-large {
    font-size: 28px;
    padding: 20px 50px;
  }

  &.outline {
    background: transparent;
    box-shadow: inset 0 0 0 2px $white;
  }

  &.red {
    background: $red;
  }

  &.orange {
    background: $orange;
  }

  &.green {
    background: $green;
  }

  &.blue {
    background: $blue;
  }
}
